{% extends 'jaumt/base.html' %}
    
{% block title %}<title>Jaumt | Status</title>{% endblock %}

{% block head_meta %}<meta content="60" http-equiv="refresh">{% endblock %}

{% block content %}
<div class="page-header">
  <h1>Jaumt Status</h1>
</div>
    {% if urls %}
      <div class="row">
        <table class="table">
            <thead>
                <tr>
                    <th>Url [hostname]</th>
                    <th>Description</th>
                    <th>Status</th>
                    <th>status_code/error msg</ht>
                    <th>Last Check</th>
                    <th>Next Check</th>
                    <th>Details</th>
                    <th>edit</th>
                    <th>Website</th>
                </tr>
            </thead>
            <tbody>
                {% for url in urls %}
                    <tr>
                      <td>
                        <a href="{{url.url}}">{{url.url}}</a>
                        {% if url.hostname != '' %}  
                          <br> {{url.hostname}}
                        {% endif %}
                      </td>
                      <td>{{url.description}}</td>
                      <td>
                        {% if url.status == UrlStatusEnum.OK  %}
                            <span class="label label-success"> OK </span>
                        {% elif url.status == UrlStatusEnum.DOWNTIME %}
                            <span class="label label-danger"> DOWNTIME </span>
                        {% else %}
                            <span class="label label-warning"> WARNING</span>
                        {% endif %}
                      </td>
                      <td>{{url.current_status_code}}</td>
                      <td>{{url.last_check}}</td>
                      <td>{{url.next_check}}</td>
                      <td>
                        <a href="/url/{{url.id}}">
                          <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
                        </a>
                      </td>
                      <td>
                        <a href="/admin/jaumt/url/{{url.id}}/">
                          <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                        </a>
                      </td>
                      <td><a href="/admin/jaumt/website/{{url.website_id}}">{{url.website.description}}</a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
      </div>
    {% else %}
        <p>No Urls are available.</p>
    {% endif %}

</div>

{% endblock %}
